<% if user_signed_in? %>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2></br>
      <h3>Name</h3>
      <p><%=@user.name%></p>
      <h3>Member since</h3>
      <p><%= @user.created_at.to_date.strftime("%a, %d %b %Y")%></p>
      <h3># organised events</h3>
      <p class="badge badge-primary"><%=@user.created_events.count%></p>
      <h3># attended events</h3>
      <p class="badge badge-primary"><%=@user.attended_events.count%></p>
      <hr class="d-sm-none">
    </div>
  <div class="col-sm-8">
    <table class="table">
      <tr>
        <h2>Organised events :<h2></br>
        <th>Description</th>
        <th>Date & Time</th>
        <th>Place</th>
        <th>Attendees</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
  
      <% @user.created_events.each do |event| %>
        <tr>
          <td><%= event.description %></td>
          <td><%= event.date%>
          <td><%= event.place%></td>
          <td><%= event.attendees.count %></td>
          <%if event.date.today?%>
            <td><span class=" badge badge-success">Aujourd'hui</span>
          <%elsif event.date.past?%>
            <td><span class="badge badge-danger">Passé</span></td>
          <%elsif event.date.future?%>
            <td><span class="badge badge-info">À venir</span></td>
          <% end %>

          <% if current_user.id == event.creator.id %>
            <td><%=link_to 'Editer', edit_event_path(event)%></td>
            <td><%= link_to 'Supprimer', event, method: :delete %></td></br></br>
          <%else%>
            <td>Edition impossible</td>
            <td>Suppression impossible</td>
          <%end%>
        </tr>
      <%end%>
    </table></br></br>
    <table class="table">
      <tr>
        <h2>Attended events :</h2></br>
        <th>Description</th>
        <th>Date & Time</th>
        <th>Place</th>
        <th>Attendees</th>
        <th>Status</th>
      </tr> 
      <% @user.attended_events.each do |event| %>
        <tr>
          <td><%= event.description %></td>
          <td><%= event.date%></td>
          <td><%= event.place%></td>
          <td><%= event.attendees.count %></td>
          <%if event.date.today?%>
            <td ><span class="badge-success">Aujourd'hui</span></td>
          <%elsif event.date.past?%>
            <td><span class="badge-danger">Passé</span></td>
          <%elsif event.date.future?%>
            <td><span class="badge badge-info">À venir</span></td>
          <% end %>
        </tr>
      <%end%>
    </table>
  </div>
  <%else%>
  <p>Veuillez d'abord vous identifier</p>
  <%end%>
</div>