<% if user_signed_in? %>
<div class="container">
<table class="table">
  <tr>
    <h1>Event Index<h1>
    
    <th>Description</th>
    <th>Date</th>
    <th>Time</th>
    <th>Place</th>
    <th>Attendees</th>
    <th>Infos</th>
    <th>Status</th>
    <th>Price</th>
  </tr>
  
  <% @events.each do |event| %>
    <tr>
      <td><%= event.description %></td>
      <td><%= event.date.to_date.strftime("%a, %d %b %Y")%></td>
      <td><%=event.date.strftime("%H:%M")%></td>
      <td><%= event.place%></td>
      <td><%= event.attendees.count %></td>
      <td><%= link_to "More info", event_path(event.id) %></td>
      <%if event.date.today?%>
        <td><span class="badge badge-success">Today</span>
      <%elsif event.date.past?%>
      <td><span class="badge badge-danger">Past</span></td>
      <%elsif event.date.future?%>
      <td><span class="badge badge-info">Upcoming</span></td>
      <% end %>
      <td><%= humanized_money_with_symbol(event.price) %></td>
    </tr>
  <% end %>
</table>
</div>
<%else%>
<%flash[:error] = "Your must sign in or sign up first"%>
<%end%>
