<% if user_signed_in? %>
<div class="container">
    <h1>Voici les informations concernant l'évenement numéro <%= @event.id%></h1>
    
<div>
<p>Organisateur : <%= User.find(@event.creator_id).name %></p>
<p><%= link_to 'Voir son profil', user_path(User.find(@event.creator_id).id) %></p>
</div>
<div>
  <%if @event.date.future?%>
    <%if @event.attendees.include?(current_user)%>
    <%= button_to "Se désinscrire de l'évenement", event_unsubscribe_path(@event), :class => 'btn btn-danger' %>
    <%else%>
      <%= form_tag event_subscribe_path(@event) do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>Amount: <%= humanized_money_with_symbol(@event.price) %></span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="<%= @event.place %> le <%= @event.date.to_date.strftime("%a, %d %b %Y") %>"
                data-amount="<% @event.price_cents %>"
                data-currency="EUR"
                data-locale="auto"></script>
      <% end %>
    <%end%>
  <%elsif @event.date.past?%>
    <span class="badge-danger">Evenement passé, participation impossible</span></td>
  <%end%>
</div></br>

<% if current_user == @event.creator %>
  <p><%=link_to 'Editer', edit_event_path(@event)%></p>
<%end%>

<% if current_user == @event.creator %>
  <td><%= link_to 'Supprimer', @event, method: :delete %></td></br></br>
<%end%>

<div class="container">
  <table class="table">
      <tr>
        <th>Description</th>
        <th>Date & Time</th>
        <th>Place</th>
        <th>Attendees</th>
        <th>Price</th>  
      </tr>
    
        <tr>
          <td><%= @event.description %></td>
          <td><%= @event.date.to_date.strftime("%a, %d %b %Y")%></td>
          <td><%= @event.place%></td>
          <td><%= @event.attendees.count %></td>
          <td><%= humanized_money_with_symbol(@event.price) %></td>
        </tr>
  </table>
</div></br></br>

<div class="container">
    <table class="table">
      <tr>
      <h2>Et voici la liste des participants à cet évenement</h2>
        <th>Name</th>
        <th>Voir le profil</th>
      </tr> 
      <% @event.attendees.each do |attendee| %>
        <tr>
          <td><%= attendee.name%></td>
          <td><%= link_to 'profil', user_path(attendee.id)%></td>
        </tr>
      <%end%>
      
    </table>   
</div>

<%else%>
<p>Veuillez d'abord vous identifier</p>
<%end%>


